<div class="container" id="app">
    <div class="row white-text">
        <h1 class="center">Traverse</h1>
        <p class="center">All new travel app out now!</p>
        <a href="https://play.google.com/store/apps/details?id=com.cborum.traverse">
            <img class="google-play" alt="Get it on Google Play"
                    src="images/google-play-badge.png"/>
        </a>
        <p class="center">Sign up for newsletter here</p>
        <form v-on:submit.prevent="onSubmit">
            <div v-show="!signedUp" class="input-field col s6 offset-s3">
                <label for="email">Email</label>
                <input v-model="email" name="email" id="email" type="text">
            </div>
        </form>
    </div>
</div>
<script type="text/javascript" src="bower_components/jquery/dist/jquery.js"></script>
<script type="text/javascript" src="bower_components/materialize/dist/js/materialize.min.js"></script>
<script type="text/javascript" src="bower_components/vue/dist/vue.js"></script>
<script type="text/javascript" src="bower_components/vue-resource/dist/vue-resource.js"></script>
<script type="text/javascript" src="javascripts/main.js"></script>

<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
        a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
    ga('create', 'UA-84366861-1', 'auto');
    ga('send', 'pageview');
</script>

